<?xml version="1.0" encoding="utf-8" ?>
<model>
<User Name="">
  <Option Name="Pass"></Option>
  <Option Name="Group"></Option>
  <Option Name="Bypass server userlimit">0</Option>
  <Option Name="User Limit">0</Option>
  <Option Name="IP Limit">0</Option>
  <Option Name="Enabled">1</Option>
  <Option Name="Comments"></Option>
  <Option Name="ForceSsl">0</Option>
  <Option Name="8plus3">0</Option>
  <IpFilter>
    <Disallowed />
    <Allowed />
  </IpFilter>
  <Permissions>
    <Permission Dir="">
      <Option Name="FileRead">1</Option>
      <Option Name="FileWrite">1</Option>
      <Option Name="FileDelete">1</Option>
      <Option Name="FileAppend">1</Option>
      <Option Name="DirCreate">1</Option>
      <Option Name="DirDelete">1</Option>
      <Option Name="DirList">1</Option>
      <Option Name="DirSubdirs">1</Option>
      <Option Name="IsHome">0</Option>
      <Option Name="AutoCreate">0</Option>
    </Permission>
  </Permissions>
  <SpeedLimits DlType="0" DlLimit="10" ServerDlLimitBypass="2" UlType="0" UlLimit="10" ServerUlLimitBypass="2">
    <Download />
    <Upload />
  </SpeedLimits>
</User>
<Group Name="">
  <Option Name="Bypass server userlimit">0</Option>
  <Option Name="User Limit">0</Option>
  <Option Name="IP Limit">0</Option>
  <Option Name="Enabled">1</Option>
  <Option Name="Comments">
  </Option>
  <Option Name="ForceSsl">0</Option>
  <Option Name="8plus3">0</Option>
  <IpFilter>
    <Disallowed />
    <Allowed />
  </IpFilter>
  <Permissions />
  <SpeedLimits DlType="1" DlLimit="10" ServerDlLimitBypass="0" UlType="1" UlLimit="10" ServerUlLimitBypass="0">
    <Download />
    <Upload />
  </SpeedLimits>
</Group>
<Permission Dir="C:">
  <Option Name="FileRead">1</Option>
  <Option Name="FileWrite">1</Option>
  <Option Name="FileDelete">1</Option>
  <Option Name="FileAppend">1</Option>
  <Option Name="DirCreate">1</Option>
  <Option Name="DirDelete">1</Option>
  <Option Name="DirList">1</Option>
  <Option Name="DirSubdirs">1</Option>
  <Option Name="IsHome">0</Option>
  <Option Name="AutoCreate">0</Option>
</Permission>
</model>