@charset "utf-8";
/* Zoomla!逐浪CMS官方webfont字库,From www.ziti163.com/webfont */
@import url("//code.z01.com/Zfonts.css");
.zFont1{font-family:'zFont1'; } /*逐浪经典粗黑体*/
.zFont2{font-family:'zFont2'; } /*逐浪时尚钢笔体*/
.ZoomlaXingtiJ6{font-family:'ZoomlaXingtiJ6'; } /*伟人毛体*/
.ZoomlaXSongExtraLight{font-family:'ZoomlaXSongExtraLight'; } /*逐浪新宋超细体*/
.ZoomlaChongyuan-A006{font-family:'ZoomlaChongyuan-A006'; } /*逐浪重圆体*/
.Zoomlaliuzhu-A007{font-family:'Zoomlaliuzhu-A007'; } /*逐浪创意流珠体*/
.ZoomlaRixi-A013{font-family:'ZoomlaRixi-A013'; } /*逐浪日系楷体*/
.ZoomlaGetelove-A014{font-family:'ZoomlaGetelove-A014'; } /*逐浪哥特真爱体*/
.ZoomlaYuan-A016{font-family:'ZoomlaYuan-A016'; } /*逐浪圆体*/
.ZoomlaWuanYue-A017{font-family:'ZoomlaWuanYue-A017'; } /*逐浪创意婉约体*/
.ZoomlaYayu-A019{font-family:'ZoomlaYayu-A019'; } /*逐浪丫玉体*/
.Zoomlaxiaoxue-A020{font-family:'Zoomlaxiaoxue-A020'; } /*逐浪小雪钢笔体*/
.ZoomlaYingXing-A024{font-family:'ZoomlaYingXing-A024'; } /*逐浪硬行体*/
.ZoomlaXiangJiao-A025{font-family:'ZoomlaXiangJiao-A025'; } /*逐浪湘教钢笔体*/
.ZoomlaXiaoxia-A027{font-family:'ZoomlaXiaoxia-A027'; } /*逐浪小霞硬楷体*/
.ZoomlaShuaisong-A028{font-family:'ZoomlaShuaisong-A028'; } /*逐浪帅宋斜楷体*/
.ZoomlaTouyinghei-A032{font-family:'ZoomlaTouyinghei-A032'; } /*逐浪投影透视黑体*/
.ZoomlaCaise-A040{font-family:'ZoomlaCaise-A040'; } /*逐浪线楷彩色字*/
.ZoomlaCaise-A040{font-family:'ZoomlaWenxuan-A043'; } /*逐浪文宣剪纸体*/
.ZoomlaJianmingLi-A047{font-family:'ZoomlaJianmingLi-A047'; } /*逐浪新隶体*/
.ZoomlaGaiShiHero-A050{font-family:'ZoomlaGaiShiHero-A050'; } /*逐浪盖世英雄狂草体*/
.ZoomlaXiangsu-A051{font-family:'ZoomlaXiangsu-A051'; } /*逐浪像素字*/
.Zoomlabaoren-A102{font-family:'Zoomlabaoren-A102'; } /*逐浪报人书法行体*/
.ZoomlaJinnong-A106{font-family:'ZoomlaJinnong-A106'; } /*逐浪金农书法体*/




/* Wm9vbWxhIemAkOa1qkNNU+WumOaWuXdlYmZvbnTlrZflupMsRnJvbSB3d3cueml0aTE2My5jb20vd2ViZm9udA== */
